<% content_for :head do %>
  <link href="/stylesheet/post.css" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag "app/postshow" %>
  <%= javascript_include_tag "app/postattentionpraise" %>
  <%= javascript_include_tag "app/comment" %>
<% end %>
  <script type="text/javascript">
    var attentionId = <%= @attention_id || "null" %>;
    var praiseId = <%= @praise_id || "null" %>;
    var postId = <%= @post.id %>;
    var commentPage = <%= @comment_page %>;
    var hasUserLogin = <%= not curr_user.nil? %>;
    var nodePath = "<%= node_path(@post.node) %>";
  </script>
  
		<div id="add-area">
			<div id="post-operation">
		  <% if not curr_user.nil? %>
				<% if @attention_id.nil? %>
				<a id="btn-attention" href="#" title="贴子有新评论和译文后将提醒你">
				<div class="operation">
				<span id="txt-attention">关注</span>
				<% else %>
				<a id="btn-attention" href="#" title="取消关注后与此贴相关的更新将不会提新你">
				<div class="operation-cancel">
				<span id="txt-attention">取消关注</span>
				<% end %>
				  <span class="operation-count">(<span id="count-attention"><%= @post.attentions_count %></span>)</span>
				</div>
				</a>
				<% if @praise_id.nil? %>
				<a id="btn-praise" href="#" title="给TA一个赞">
				<div class="operation">
				<span id="txt-praise">赞</span>
				<% else %>
				<a id="btn-praise" href="#" title="你已赞过该贴，点击取消赞。">
				<div class="operation-cancel">
				<span id="txt-praise">取消赞</span>
				<% end %>
					<span class="operation-count">(<span id="count-praise"><%= @post.praises_count %></span>)</span>
				</div>
				</a>
			<% end %>
			</div>
			<div class="label">
				<div class="label-title">主题相关</div>
				<div class="label-content">
					<div>
					  <% if @post.post_type == Post::TranslationType %>
		        翻译贴；
		        <% elsif @post.post_type == Post::TopicType %>
		        主题贴；
		        <% end %>
					  <% if @post.is_elite %>精华贴;<% end %>
					</div>
					<div>关注人数：<%= @post.attentions_count %></div>
					<div>评论：<%= @post.comments_count %></div>
					<div>赞人数：<%= @post.praises_count %></div>
					<div>发表时间：<%= formate_date(@post.create_at) %>(<%= time_to_now(@post.create_at) %>前)</div>
					<div>最后评论/翻译时间：<%= formate_date(@post.last_reply_at) %>(<%= time_to_now(@post.last_reply_at) %>前)</div>
				</div>
			</div>
		</div>
		<div id="main-area">
			<nav id="navigation">
				<a href="/">首页</a>
				<span> >> </span>
				<%= link_to @post.node.name, node_path(@post.node) %> 
				<span> >> 贴子正文</span>
			</nav>
			<!-- 作者信息 -->
			<div id="author" class="piece">
				<div class="proposer">翻译申请人</div>
				<img id="author-icon" src="<%= @author.icon_url %>" />
				<div id="author-info">
					<div id="author-head">
						<%= @author.name %>
					</div>
					<div id="author-autograph">
						<%= @author.signature %>
					</div>
				</div>
				<div style="clear:both;"></div>
			</div>
			<!-- 正文 -->
			<div id="post-body" class="piece">
				<h1 class="title" style="text-align: center;"><%= @post.title %></h1>
				<div class="content">
					<% @content.each do |line| %>
					  <p><%=raw line %></p>
					<% end %>
					<div style="text-align: right">
						<% if @post.can_delete_by?(curr_user) %>
						  <a href="#" id="btn-delete-post">[删除]</a>
						<% end %>
						
						<% if @post.can_top_by?(curr_user) %>
						  <% unless @post.is_top? %>
						  <a href="#" id="btn-set-top">[置首]</a>
						  <% else %>
						  <a href="#" id="btn-cancel-top">[取消置首]</a>
						  <% end %>
						<% end %>
						
						<% if @post.can_sticky_by?(curr_user) %>
						  <% unless @post.is_sticky? %>
						  <a href="#" id="btn-set-sticky">[精华]</a>
						  <% else %>
						  <a href="#" id="btn-cancel-sticky">[取消精华]</a>
						  <% end %>
						<% end %>
						
						<% if @post.can_edit_by?(curr_user) %>
						  <%= link_to '[编辑]', edit_post_path(@post), :class => 'inside-button' %>
						<% end %>
						<span><%= formate_date(@post.create_at) %></span>
					</div>
				</div>
			</div>
			<!-- 段落 -->
			<% if @post.post_type == Post::TranslationType %>
			<div id="paragraphs">
			<% @paragraphs.each do |p| %>
			<% case p.paragraph_type %>
			<% when Paragraph::TypeContent %>
			  <div id="p-<%= p.id %>" class="paragraph">
			    <% @p = p %>
			    <%= render :partial => '/paragraph/single-show' %>
			  </div>
			<% when Paragraph::TypeTitle %>
			  <div class="title"><%= p.source_text %></div>
			<% when Paragraph::TypeLine %>
			  <div class="line"></div>
			<% end %>
			<% end %>
            
            <div class="notify-text">
			  	<p>翻译不够精确？翻译有错误？如果你对某一段翻译不满意，请掏出你的键盘，把你自己的翻译提交上去吧。</p>
				<p>知言译义网鼓励大家贡献自己的翻译。哪怕是只言片语，也欢迎。</p>
			</div>
            
			</div>
			<% end %>
			
			<!-- 评论 -->
			<div class="title">评论</div>
			<div id="comment-containers">正在载入评论...</div>
			
			<!-- 发表评论 -->
			<% if @can_reply %>
			<div id="commit-comment">
				<div>发表评论：</div>
				<textarea id="comment-content" class="textarea-notify" spellcheck="false">输入你的评论，字数不得超过500字。</textarea>
			</div>
			<div class="p-button">
				<a href="#" id="btn-commit-comment">提交</a>
			</div>
			<% else %>
			<div id="commit-comment">
			  <div>只有登录后，且没有被禁言的用户才可以评论。</div>
			</div>
			<% end %>
