<% content_for :head do %>
  <link href="/stylesheet/root.css" rel="stylesheet" type="text/css" />
<% end %>

<% def show_post(p) %>
  <% return if p.nil? %>
				<div class="post-icon">
					<img src="<%= p.author.icon_url %>"/>
				</div>
				<div class="post-info">
					<div class="post-first-line">
						<% if p.post_type == Post::TopicType %>
						<span class="post-type">[贴]</span>
						<% elsif p.post_type == Post::TranslationType %>
						<span class="post-type">[译]</span>
						<% end %>
						<%= link_to limit_length(p.title, 21), post_path(p), :title => p.title %>
					</div>
					<div class="post-second-line">
						<span>作者</span>
						<a href="#"><%= p.author.name %></a>
						<span>发表于<%= time_to_now(p.create_at) %>前</span>
						<span>最新顶贴</span>
						<a href="#"><%= p.last_reply_user.name %></a>
						<span>于<%= time_to_now(p.last_reply_at) %>前</span>
					</div>
				</div>
<% end %>
		
		<!-- 网站介绍 -->
		<div id="describe">
			知言译义网，碎片式翻译，人人皆可参与。
		</div>
		
		<!-- 贴子大杂烩 -->
		<div id="post-containers" class="piece">
			<div id="posts-top" class="title">贴子大杂烩</div>
			<% @line_posts.each do |line| %>
			<div class="post-line">
				<div class="post float-right">
				<% show_post(line[1]) %>
				</div>
				<div class="post">
				<% show_post(line[0]) %>
				</div>
			</div>
			<% end %>
		</div>
		
		<!-- 版面列表 -->
		<div id="nodes">
		
			<div class="node piece" style="border-top-color:#006600;">
				<a href="/node/1/website-management">站务管理</a><br/>
			</div>
			
			<div class="node piece" style="border-top-color:#0000FF;">
				<a href="/node/3/free-chat">吹水冒泡</a><br/>
			</div>
			
			<div style="clear:both"></div>
			
			<div class="node piece" style="border-top-color: #FF3300;">
				<a href="/node/2/english-news">英语新闻</a><br/>
			</div>
			
			<div class="node piece" style="border-top-color:#0000FF;">
				<a href="/node/9/english-post">英语网贴</a><br/>
			</div>
			
			<div class="node piece" style="border-top-color:#FF99CC;">
				<a href="/node/8/english_song">英语歌曲</a><br/>
			</div>
			
			<div style="clear:both"></div>
			
			<div class="node piece" style="border-top-color: #FF3300;">
				<a href="/node/7/japanese_song">日语歌曲</a><br/>
			</div>
			
			<div class="node piece" style="border-top-color:#990099;">
				<a href="/node/6/software">软件</a><br/>
			</div>
			
			<div style="clear:both"></div>
		</div>
	</div>
