<div title="点击展开这个段落。" class="p-mark show-paragraph-<%= @p.id %> <%= (@p.translated_text_count > 1)?"p-mark-useable":"p-mark-useless"%>"><%= @p.translated_text_count %></div>
<div class="p-source"><%= @p.source_text %></div>
<% if @p.choosed_text.nil? %>
<div class="p-translation" style="text-align: center;"><a class="show-paragraph-<%= @p.id %>" href="#">(当前该段没有译文，我来翻译吧！)</a></div>
<div class="p-state"></div>
<% else %>
<div class="p-translation"><%= @p.choosed_text.content %></div>
<div class="p-state" style="visibility:hidden;">
	<div class="p-commit"><a href="#" class="show-paragraph-<%= @p.id %>" title="看看其他候选翻译？或干脆由我自己来翻译？">[我来翻译]</a></div>
	<span>翻译者 <a href="#"><%= @p.choosed_text.author.name %></a></span>
	<span><%= time_to_now(@p.choosed_text.create_at) %>前翻译</span>
	<span>其他候选译文(<%= @p.translated_text_count - 1 %>)</span>
	<span>得票(<%= @p.choosed_text.vote_count %>)</span>
</div>
<% end %>
