<% def show_translated_text(t) %>
		<div class="p-translation-area">
			<div class="p-translation-area">
				<div class="state">
					<div><img src="<%= t.author.icon_url %>" /></div>
					<div class="author-name"><a href="#"><%= t.author.name %></a></div>
					<div class="commit-time"><%= time_to_now(t.create_at) %>前翻译</div>
					<% if @paragraph.post.can_delete_by?(curr_user) %>
					  <a class="p-delete" href="#" t-id="<%= t.id %>">删除</a>
					<% end %>
					<% if @self_text_id == t.id and @can_post %>
						<a id="p-edit" href="#" t-id="<%= t.id %>">编辑</a>
					<% end %>
				</div>
				<div id="t-<%= t.id %>" class="text">
					<p><%= t.content %></p>
					<% if @ban %>
						<div class="btn-self btn-ban-for-login button" title="投票表示赞赏，得票最多的译文将当选。你尚未登录，不能投票。">
							<div class="number"><%= t.vote_count %></div>
							<div class="descr">投票</div>
						</div>
					<% elsif @self_text_id == t.id %>
						<div class="btn-self btn-ban-for-self button" title="你提交的翻译获得的票数，不能给自己投票。">
							<div class="number"><%= t.vote_count %></div>
							<div class="descr">得票</div>
						</div>
					<% else %>
						<% vote_id = t.vote_id_by(curr_user) %>
						<% if vote_id.nil? %>
							<div class="btn-vote button" title="表示对这片译文的赞赏，得票最多的译文将当选。" t-id="<%= t.id %>">
								<div class="number"><%= t.vote_count %></div>
								<div class="descr">投票</div>
							</div>
						<% else %>
							<div class="btn-cancel-vote button" title="收回之前的投票。" t-id="<%= t.id %>" v-id="<%= vote_id %>">
								<div class="number"><%= t.vote_count %></div>
								<div class="descr">取消</div>
							</div>
						<% end %>
					<% end %>
				</div>
				<div style="clear:both"></div>
			</div>
		</div>
<% end %>

<div class="p-title">
	<div class="p-close">
		<a id="close-paragraph" href="#">[收起]</a>
	</div>
	<span>原文：</span>
</div>
<div class="p-source"><%= @paragraph.source_text %></div>

<% if @paragraph.translated_texts.any? %>
<div class="p-title">当选译文：</div>
<% show_translated_text(@paragraph.translated_texts.first) %> 
<% @others = @paragraph.translated_texts.drop(1) %>
<% if @others.any? %>
<div class="p-title">其他译文：</div>
<% end %>
<% @others.each do |t| %>
  <% show_translated_text(t) %>  
<% end %>
<% end %>

<div id="p-rear">
<% if curr_user.nil? %>
<div class="p-title">尚未登录，登录后也可以提交你的翻译。</div>
<% elsif not curr_user.can_post? %>
<div class="p-title">你被禁言了哎，真悲剧，不能提交翻译了。</div>
<% elsif @self_text_id == -1 %>
<div class="p-title">我的翻译：</div>
<textarea id="translation-textarea" ></textarea>
<div class="p-button">
	<a id="commit-translation" href="#">提交</a>
</div>
</div>
<% end %>
