<% def show_translated_text(t) %>
        <div id="t-<%= t.id %>" class="p-translation"><%= t.content %></div>
				<div class="p-state">
					<span>翻译者 <a href="#"><%= t.author.name %></a></span>
					<span><%= time_to_now(t.create_at) %></span>
					
					<% if @paragraph.post.can_delete_by?(curr_user) %>
					<span>
					  <a id="p-delete" href="#" t-id="<%= t.id %>">删除</a>
					</span>
					<% end %>
					
					<% if (not @ban) and @self_text_id != t.id %>
					<span>
					  <% vote_id = t.vote_id_by(curr_user) %>
					  <% if vote_id.nil? %>
					  <a href="#" class="btn-vote" t-id="<%= t.id %>">投票(<%= t.vote_count %>)</a>
					  <% else %>
					  <a href="#" class="btn-cancel-vote" t-id="<%= t.id %>" v-id="<%= vote_id %>">取消投票(<%= t.vote_count %>)</a>
					  <% end %>
					</span>
					<% end %>
					<% if @self_text_id == t.id and @can_post %>
					<span>
					  得票(<%= t.vote_count %>)
					  <a id="p-edit" href="#" t-id="<%= t.id %>">编辑</a>
					</span>
					<% end %>
				</div>
<% end %>

				<div class="p-title">
					<div class="p-close">
						<a id="close-paragraph" href="#">[收起]</a>
					</div>
					<span>原文：</span>
				</div>
				<div class="p-source"><%= @paragraph.source_text %></div>
				
				<% if @paragraph.translated_texts.any? %>
				<div class="p-title">当选译文：</div>
				<% show_translated_text(@paragraph.translated_texts.first) %> 
				<% @others = @paragraph.translated_texts.drop(1) %>
				<% if @others.any? %>
				<div class="p-line"></div>
				<div class="p-title">其他译文：</div>
				<% end %>
				<% @others.each do |t| %>
				  <% show_translated_text(t) %>  
				<% end %>
				<% end %>
				
				<div id="p-rear">
				<% if curr_user.nil? %>
				<div class="p-line"></div>
				<div class="p-title">尚未登录，登录后也可以提交你的翻译。</div>
				<% elsif not curr_user.can_post? %>
				<div class="p-line"></div>
				<div class="p-title">你被禁言了哎，真悲剧，不能提交翻译了。</div>
				<% elsif @self_text_id == -1 %>
				<div class="p-line"></div>
				<div class="p-title">我的翻译：</div>
				<textarea id="translation-textarea" ></textarea>
				<div class="p-button">
					<a id="commit-translation" href="#">提交</a>
				</div>
				</div>
				<% end %>
